{{ form_start(form) }}

<div class="p-4 form container-background" style="max-width: 800px; margin: auto;">
    <div class="container" style="text-align: left;">
        <div class="row justify-content-md-center">

            <div class="col-12 mb-3">
                {% if app.request.attributes.get('_route') != 'intervention_edit' %}
                    <a href="{{ path('client_new', {'s': 'intervention'}) }}">
                        <i class="fas add-btn fa-plus-circle fa-lg mr-2"></i>
                    </a>
                {% endif %}
                <label for="client" style="font-weight: bold;">Client</label>
                {{ form_errors(form.client) }}
                {{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-12 mb-3">
                {% if app.request.attributes.get('_route') != 'intervention_edit' %}
                    <a href="{{ path('equipment_new', {'s': 'intervention'}) }}">
                        <i class="fas add-btn fa-plus-circle fa-lg mr-2"></i>
                    </a>
                {% endif %}
                <label for="equipment" style="font-weight: bold;">Équipement</label>
                {{ form_errors(form.equipment) }}
                {{ form_widget(form.equipment, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-12 mb-3">
                {% if app.request.attributes.get('_route') != 'intervention_edit' %}
                    <a href="{{ path('operating_system_new', {'s': 'intervention'}) }}">
                        <i class="fas add-btn fa-plus-circle fa-lg mr-2"></i>
                    </a>
                {% endif %}
                <label for="operating_system" style="font-weight: bold;">Système d'exploitation</label>
                {{ form_errors(form.operating_system) }}
                {{ form_widget(form.operating_system, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-12 mb-3">
                {% if app.request.attributes.get('_route') != 'intervention_edit' %}
                    <a href="{{ path('task_new', {'s': 'intervention'}) }}">
                        <i class="fas add-btn fa-plus-circle fa-lg mr-2"></i>
                    </a>
                {% endif %}
                <label for="tasks" style="font-weight: bold;">Tâche(s)</label>
                {{ form_errors(form.tasks) }}
                {{ form_widget(form.tasks, {'attr': {'class': 'form-control'}}) }}
            </div>

 <div class="col-12 mb-3">
                <label for="comment" style="font-weight: bold;">Commentaire <span class="font-italic">(facultatif)</span></label>
                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-12 mb-3">
                {% if app.request.attributes.get('_route') != 'intervention_edit' %}
                    <a href="{{ path('prop_new', {'s': 'intervention'}) }}">
                        <i class="fas add-btn fa-plus-circle fa-lg mr-2"></i>
                    </a>
                {% endif %}
                <label for="props" style="font-weight: bold;">Accessoire(s) Manquant(s)</label>
                {{ form_errors(form.props) }}
                {{ form_widget(form.props, {'attr': {'class': 'form-control'}}) }}
            </div>

           

            <div class="col-12 mb-3">
                <label for="return_date" style="font-weight: bold;">Date de retour <span class="font-italic">(facultatif)</span></label>
                {{ form_errors(form.return_date) }}
                {{ form_widget(form.return_date, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-12 mb-3">
                <label for="user" style="font-weight: bold;">Pris en charge par</label>
                {{ form_errors(form.user) }}
                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="col-12 text-center">
                <button class="green-btn py-2 px-4 mt-3">
                    {{ button_label|default('Valider') }}
                </button>
            </div>

        </div>
    </div>
</div>

{{ form_end(form) }}
