<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PDF - Intervention</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>

    <style type="text/css">
        td { padding-top: 7px; padding-bottom: 7px; }
        hr { margin: 5px 0 5px 0; }
        .font-b{ font-weight: bold; }
        .font-25 { font-size: 25px; }
        .font-20 { font-size: 20px; }
        .border-on { border: solid 1px #5c5c5c; }
        .checkbox-container { overflow-wrap: break-word; }
        .checkbox-item { margin: 15px; display: inline; }
        .main-container { max-width: 703px; }
        .header {
            border: solid 1px #264653;
            background-color: #264653;
            color: #FFFFFF;
        }
        .container-2-2 {
            width: 339px;
            display: inline-block; 
            vertical-align: top;
        }
        .container-1-3 {
            width: 234px;
            display: inline-block; 
            vertical-align: top;
        }
        .container-2-3 {
            width: 440px;
            display: inline-block; 
            vertical-align: top;
        }
        .w-100-title { 
            color: #FFFFFF;
            border: solid 1px #264653;
            background-color: #264653;
            text-align: center; 
        }
        .page-break { page-break-after: always; }
        .large-mb { margin-bottom: 5rem!important; }
    </style>

    <body>
        <div class='main-container'>
            <div class='p-1 header'>
                <div align="center" class='text-center font-weight-bold' style="font-size: 25px;">DEMANDE D'INTERVENTION N°{{ intervention.id }}</div>
            </div>

            <div align="center" class='p-2 mt-5'>
                <div class='container-2-2'>
                    <div class='header'>
                        <div width="100%" align="center" class='text-center font-weight-bold' style="font-size: 18px;">Informations client</div>
                    </div>
                    <table width="100%" class='w-100' >
                        <tbody>
                            <tr height="100%">
                                <td align="right" width="50%" class='border-on pr-2 text-center'>Client</td>
                                <td width="50%" class='border-on font-b font-20 pl-1'>{{ intervention.client }}</td>
                            </tr>
                            <tr>
                                <td align="right" class='border-on pr-2 text-center'>Téléphone</td>
                                <td class='border-on pl-1'>{{ intervention.client.phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class='container-2-2'>
                    <div class='header'>
                        <div align="center" class='text-center font-weight-bold'style="font-size: 18px;">Dates</div>
                    </div>
                    <table width="100%" class='w-100'>
                        <tbody>
                            <tr width="100%">
                                <td align="right" width="50%" class='border-on text-center'>Date de dépôt</td>
                                <td width="50%" class='border-on px-1'>{{ intervention.depositDate ? intervention.depositDate|date('d/m/Y') : "" }}</td>
                            </tr>
                            <tr>
                                <td align="right" class='border-on text-center'>Date de restitution</td>
                                <td class='border-on font-b font-20 px-1'>{{ intervention.returnDate ? intervention.returnDate|date('d/m/Y') : "" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class='p-2 mt-3'>
                <div class='header'>
                    <div align="center" class='text-center font-weight-bold' style="font-size: 18px;">Informations sur l'intervention</div>
                </div>
                <table width="100%" class='w-100'>
                    <tbody class="w-100" align="right">
                        <tr class="w-100 border-on">
                            <td width="30%" class='border-on text-center w-100'>Tâche(s)</td>
                            <td align="left" class='border-on font-b font-20 px-1'>{% for task in intervention.tasks %}{{ task }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                        </tr>
                        <tr>
                            <td class='border-on text-center'>Commentaire</td>
                            <td align="left" class='border-on px-1'>{{ intervention.comment }}</td>
                        </tr>
                        <tr>
                            <td class='border-on text-center'>Équipement</td>
                            <td align="left" class='border-on font-b font-20 px-1'>{{ intervention.equipment }}</td>
                        </tr>
                        <tr>
                            <td class='border-on text-center'>Système d'exploitation</td>
                            <td align="left" class='border-on px-1'>{{ intervention.operatingSystem }}</td>
                        </tr>
                        <tr>
                            <td class='border-on text-center'>Matériel Manquant</td>
                            <td align="left" class='border-on px-1'>{% if not intervention.props is empty %}{% for prop in intervention.props %} {{ prop }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}Aucun/Non spécifié{% endif %}</td>
                        </tr>
                        <tr>
                            <td class='border-on text-center'>Signature du client </td>
                            <td align="left" class='border-on px-1' valign="top" ></td>
                        </tr>
                    </tbody>
                </table>
            </div><br><br><br>

         <div class="form-container" style="width: 100%; max-width: 800px; margin: auto; font-family: Arial, sans-serif; font-size: 14px;">
    <table style="width: 100%; border-collapse: collapse; border: 1px solid #000;">
    
        <thead>
            <tr style="background-color: #f2f2f2;">
                <th style="width: 50%; border: 1px solid #000; padding: 8px; text-align: center;">Résultats</th>
                <th style="width: 50%; border: 1px solid #000; padding: 8px; text-align: center;">Informations complémentaires</th>
            </tr>
        </thead>
     
        <tbody>
       
            <tr>
                <td style="border: 1px solid #000; padding: 8px;">ADWC</td>
                <td style="border: 1px solid #000; padding: 8px;">
                    <label style="margin-right: 10px;"><input type="checkbox"> ADWC</label>
                    <label style="margin-right: 10px;"><input type="checkbox"> ZHP</label>
                    <label style="margin-right: 10px;"><input type="checkbox"> MB</label>
                    <label style="margin-right: 10px;"><input type="checkbox"> SAS</label>
                </td>
            </tr>
   
            <tr>
                <td style="border: 1px solid #000; padding: 8px;">ZHP</td>
                <td style="border: 1px solid #000; padding: 8px;">
                    <label><input type="checkbox"> Optimisation démarrage</label>
                </td>
            </tr>
            
            <tr>
                <td style="border: 1px solid #000; padding: 8px;">MB</td>
                <td style="border: 1px solid #000; padding: 8px;">
                    <label><input type="checkbox"> RAZ navigateurs</label>
                </td>
            </tr>
       
            <tr>
                <td style="border: 1px solid #000; padding: 8px;">SAS</td>
                <td style="border: 1px solid #000; padding: 8px;">
                    <label style="display: block; margin-bottom: 5px;"><input type="checkbox"> Version Windows :</label>
                    <input type="text" style="width: calc(100% - 20px); padding: 5px; border: 1px solid #000;">
                </td>
            </tr>
            
            <tr>
                <td colspan="2" style="border: 1px solid #000; padding: 8px;">
                    <label style="margin-right: 10px;"><input type="checkbox"> Suppression de l'antivirus client</label>
                    <label style="margin-right: 10px;"><input type="checkbox"> Install Antivirus</label>
                    <label style="margin-right: 10px;"><input type="checkbox"> MàJ Antivirus</label>
                    <label style="margin-right: 10px;"><input type="checkbox"> Install SAS</label>
                    <label style="margin-right: 10px;"><input type="checkbox"> MàJ SAS</label>
                </td>
            </tr>
            
            <tr>
                <td style="border: 1px solid #000; padding: 8px;">Rapport CRYSTALDISK :</td>
                <td style="border: 1px solid #000; padding: 8px;">
                    <label style="margin-right: 10px;"><input type="radio" name="crystaldisk"> Correct</label>
                    <label style="margin-right: 10px;"><input type="radio" name="crystaldisk"> Prudence !</label>
                    <label style="margin-right: 10px;"><input type="radio" name="crystaldisk"> Mauvais !</label>
                </td>
            </tr>
      
            <tr>
                <td style="border: 1px solid #000; padding: 8px;">Serveur de sauvegarde :</td>
                <td style="border: 1px solid #000; padding: 8px;">
                    <input type="text" style="width: calc(100% - 20px); padding: 5px; border: 1px solid #000;">
                </td>
            </tr>
        </tbody>
    </table>
</div>

